.allPokemonWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: space-between;
  gap: 20px;
  margin-top: 2em;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.loadingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  gap: 10px;
}
