.allPokemonWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: space-between;
  margin-top: 2em;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.allPokemonWrapper::after {
  content: "";
  flex: auto;
}
.loadingWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  gap: 10px;
}
