.filterWrapper {
  padding-top: 2.43em;
  width: 96vw;
  margin: auto;
}

.filters {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  gap: 20px;
}

.typeFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.65em;
  height: 1.39em;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 10px;
  color: #ffffff;
}
.typeFilter:hover {
  transform: scale(1.1);
  transition: 0.2s;
  box-shadow: 10px 10px 8px -6px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 10px 10px 8px -6px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 10px 10px 8px -6px rgba(0, 0, 0, 0.43);
}

.filtersWrapper {
  display: flex;
  justify-content: space-between;
}

.selectedType {
  outline: 1px solid #333;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.52);
  transform: translateY(-0.2rem);
  transition: 0.1s;
}

:global(.normalCard) {
  background-color: #d9d9d9;
}

:global(.grassCard) {
  background-color: #47ab57;
}
:global(.fireCard) {
  background-color: #fd7d24;
}

:global(.waterCard) {
  background-color: #4592c4;
}
:global(.bugCard) {
  background-color: #719f3f;
}
:global(.electricCard) {
  background-color: #eed535;
}
:global(.rockCard) {
  background-color: #a38c21;
}
:global(.ghostCard) {
  background-color: #7b62a3;
}
:global(.poisonCard) {
  background-color: #b97fc9;
}
:global(.psychicCard) {
  background-color: #f366b9;
}
:global(.fightingCard) {
  background-color: #d56723;
}
:global(.groundCard) {
  background-color: #ab9842;
}
:global(.dragonCard) {
  background-color: #f06d56;
}
:global(.iceCard) {
  background-color: #00aeff;
}
:global(.steelCard) {
  background-color: #614e5e;
}
:global(.darkCard) {
  background-color: #161514;
}
:global(.fairyCard) {
  background-color: #bbff00;
}
:global(.flyingCard) {
  background-color: #e25959;
}
.typeReset {
  background-color: #000;
}

.select {
  width: 11.1em;
  height: 2em;
  margin-bottom: 0px;
  border-radius: 10px;
  background-color: #313131;
  color: #fff;
  font-size: 1.7em;
}

.option {
  font-size: 20px;

  font-family: "VT323", monospace;
}

.insideSelect {
  padding: 8px 12px;
  line-height: 1.42857143;
  border: 1px solid #cccccc;
  font-family: inherit;
}

@media (max-width: 800px) {
  .filtersWrapper {
    flex-direction: column;
    gap: 30px;

    align-items: center;
  }
  .filterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .filters {
    justify-content: center;
    width: 120%;
  }
  .filterText {
    margin-bottom: 10px;
  }
}

@media (max-width: 670px) {
  .filters {
    justify-content: center;
    width: 125%;
  }
}

@media (max-width: 400px) {
  .filterText {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .filterText {
    font-size: 25px;
  }
}
