.logoMainWrapper {
  display: flex;
  justify-content: center;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  width: 30em;
  height: 140px;
  align-items: center;
  font-size: 0.7em;
  gap: 10px;
}

.logo {
  width: 80%;
  height: 80%;
}

@media (max-width: 375px) {
  .logo {
    width: 100%;
    height: 50%;
  }
}
