.pokeWrapper {
  width: 15%;
  margin-top: 2em;
}

.imgWrapper {
  background-color: #d9d9d9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.pokemonNumberExp {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  margin-top: 0.5em;
}

.pokeName {
  font-size: 1.6em;
}

/* .pokeName::first-letter {
  text-transform: uppercase;
} */

.pokeStyle {
  width: 4.65em;
  height: 1.39em;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pokeStyle::first-letter {
  text-transform: capitalize;
}

/* :global(.normal) {
  background-color: #d9d9d9;
}

:global(.grass) {
  background-color: #47ab57;
}
:global(.fire) {
  background-color: #fd7d24;
}
.water {
  background-color: #4592c4;
}
.bug {
  background-color: #719f3f;
}
.electric {
  background-color: #eed535;
}
.rock {
  background-color: #a38c21;
}
.ghost {
  background-color: #7b62a3;
}
.poison {
  background-color: #b97fc9;
}
.psychic {
  background-color: #f366b9;
}
.fighting {
  background-color: #d56723;
}
.ground {
  background-color: #ab9842;
}
.dragon {
  background-color: #f06d56;
} */
