@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "VT323", monospace;
  color: #333;
  line-height: 1.6;
  letter-spacing: 0.8px;
  background-color: #fdffcd;
}

.container {
  width: 100%;
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6em;
  padding-bottom: 3em;
  padding-top: 3em;
  padding-left: 6em;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}
